<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VAIBU API</title>
    <link rel="stylesheet" href="./../../css/style.css" />
    <link rel="icon" href="./../../logo.png">
</head>

<body>
   <div>   
    <h1 style="font-size: 20px;flood-color: brown;"> <img src="./../../logo.png" style="width: 30px;height: 30px;" alt="">VAIBU API</h1>
   </div>
</body>

</html>